export (get_genes)
export (get_relations)
export (get_node_layout)
export (get_link_layout)
export (get_cluster)
export (plot_pathway)
export (grid_image)
importFrom("graphics", "plot", "segments", "text", "points")
importFrom("grDevices", "rainbow")
importFrom("wordcloud", "textplot")
importFrom("igraph", "graph.data.frame", "layout.fruchterman.reingold", "layout.norm", "walktrap.community", "plot.igraph", "V")
importFrom("EBImage", "readImage")
